@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Open Sans", serif; */
*{
    margin: 0;
    padding: 0;
}
.font-family{
    font-family: "Open Sans";
}

/* input style start */

::placeholder{
    color: #0e0e0e69;
    font-size: 11px;
}
input:focus::placeholder{
    color: #0E0E0EB2;
}
input:focus{
    outline: 1px solid gray;
}
/* input style end */

/* header style start*/

.header{
    background-color: #FFF8F3;
    display: none;
}
.header-section{
    background-image: url(images/developer.png), url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-size: 61px, 610px;
    background-position: 22px 25px, 650px 190px;
    display: flex;
    flex-direction: column;
    gap: 45px;
    width: 1300px;
    margin: 0 auto;
    align-items: center;
}
.nav-menu{
    padding-top: 30px;
    width: 1000px;
}
.nav-ber{
    
display: flex;
    
justify-content: space-between;
    
width: 930px;
    
align-items: center;
}
.letter-style{
    color: #FD6E0A;
}
.main-menu{
    display: flex;
    font-size: 16px;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}
.main-menu li {
    margin-right: 34.5px;
}
.main-menu a {
    text-decoration: none;
    color: #474747;
}
.nav-btn{
    height: 42px;
    width: 105px;
    background-color: #FD6E0A;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    padding: 13px 20px;
}
.nav-title{
    font-weight: 800;
    font-size: 30px;
}
/* header style end */

/* banner style start */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 400px;
    width: 1000px;
}

.bennar-img img{
    width: 349px;
}
.bennar-title{
    color: #474747;
    font-size: 30px;
    width: 390px;
}
.banner-main-title{
    color: #181818;
    font-size: 50px;
}
.banner-descripion{
    color: #757575;
    font-weight: normal;
    font-size: 12px;
    margin: 10px 0px;
}
.download-btn{
    height: 42px;
    width: 150px;
    background-color: #FD6E0A;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    padding: 13px 20px;
}
.contact-btn{
    height: 42px;
    width: 150px;
    background-color: #FD6E0A;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    padding: 13px 20px;
}
/* banner style end */

/* about section start */
.about{
    background-color: #FFF8F3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width: 850px;
    height: 370px;
    margin: 0 auto;
    margin-top: 70px;
    display: none;
}
.abouted{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 25px;
    gap: 20px;
}
.about-title{
    font-weight: bold;
    font-size: 24px;
    color: #181818;
}
.about-description{
    font-size: 13px;
    color: #757575;
    padding: 10px;
    line-height: 20px;
    width: 600px;
}
.about-contact-container{
    display: flex;
    gap: 30px;
}
.about-contact-titelber{

}
.about-contact-titel{
    color: #757575;
    font-size: 13px;
}
.about-contact-description{
    color: #181818;
    font-weight: bold;
    font-size: 13px;
}
/* about style end */

/* card style start */
.work-section{

display: flex;

justify-content: center;

align-items: center;

flex-direction: column;

margin: 0 auto;

gap: 30px;

margin-top: 70px;

width: 850px;
}
.work-desription-ber{

display: flex;

flex-direction: column;

align-items: center;

gap: 30px;

text-align: center;

width: 650px;
}
.work-title{

font-weight: bold;

color: #181818;

font-size: 24px;
}
.work-description{

font-size: 13px;

color: #757575;

line-height: 20px;
}
.work-card-ber{

display: flex;

justify-content: space-between;

align-items: center;

width: 100%;

gap: 15px;
}
.work-card{

display: flex;

flex-direction: column;

align-items: start;

gap: 20px;

width: 150px;

height: 220px;

justify-content: flex-start;

padding: 25px;

background: #FFFFFF;

box-shadow: 0px 0px 5px #00000029;

border-radius: 10px;
}

.work-card-img{
    
width: 33px;
}
.work-card-titleber{
    
display: flex;
    
flex-direction: column;
    
align-items: start;
    
gap: 12px;
    
justify-content: center;
}
.work-card-title{

font-size: 15px;

color: #181818;
}
.work-card-description{

color: #757575;

font-size: 12px;

line-height: 20px;
}
/* card style end */

/* resume style start */
.resume{

display: flex;

flex-direction: column;

align-items: center;

justify-content: center;

gap: 50px;

width: 850px;

margin: 0 auto;

margin-top: 70px;
display: none;
}
.resume-title{
    font-size: 24px;
    color: #181818;
}
.resume-container{

display: flex;

align-items: flex-start;

justify-content: space-between;

gap: 30px;
}
.resume-column{

display: flex;

flex-direction: column;

justify-content: center;

gap: 15px;

width: 410px;
}
.resume-column-title{
color: #181818;
font-size: 20px;
}
.experience{

display: flex;

flex-direction: column;

align-items: start;

justify-content: center;

gap: 10px;
}
.experience-title{
font-size: 17px;
color: #181818;
}
.experience-sub-title{
    font-size: 13px;
    color: #757575;
    font-weight: 600;
}
.experience-description{
    color: #757575;
    font-size: 11px;
    line-height: 20px;
    width: 310px;
}
/* resume style end */

/* footer style start */
.footer-section{

width: 100%;

background: #FFF8F3;

margin-top: 70px;
}
.footer-container{
    
display: flex;
    
justify-content: space-between;
    
align-items: start;
    
margin: 0 auto;
    
width: 850px;
    
padding: 50px;
display: none;
}
.footer-connect{

width: 395px;
}
.footer-title-ber{

display: flex;

flex-direction: column;

justify-content: center;

align-items: flex-start;

gap: 15px;
}
.footer-title{
    font-weight: bold;

    color: #181818;
    font-size: 24px;
}
.footer-description{
    color: #757575;
    font-size: 11px;
    line-height: 20px;
}
.footer-icon{

}
.footer-sms{

display: flex;

flex-direction: column;

justify-content: center;

align-items: flex-start;

gap: 15px;
}
.footer-form-title{
    font-weight: bold;

color: #181818;

font-size: 24px;

}
.footer-form{

display: flex;

flex-direction: column;

justify-content: center;

align-items: center;

gap: 15px;
}
.footer-form-input{

border: none;

padding: 10px;

border-radius: 5px;

width: 310px;
}
.footer-form-btn{
    height: 40px;
    width: 101px;
    background-color: #FD6E0A;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    padding: 10px 20px;
}
/* footer style start */


@media screen and (max-width: 576px){
    .work-section{
        width: 385px;
    }
    .work-card-ber{
        flex-direction: column;
        gap: 25px;
    }
    .work-description{
        width: 360px;
    }
    .work-card{
        width: 55%;
    }
    .work-desription-ber{

    width: 100%;
    }
} 